@font-face {
    font-family: 'Cooper*';
    src: url('../Cooper-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cooper*', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8EABA; /* Cream */
    box-sizing: border-box;
    color: #F8EABA; /* Cream */
}

header {
    background-color: #779AC4; /* Blue */
    color: #F8EABA; /* Cream */
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #F8EABA; /* Cream */
    text-decoration: none;
}

section {
    margin: 40px 20px;
    padding: 20px;
    text-align: justify;
}

.about-section {
    background-color: #F67474 /* Red */
}

.work-section {
    background-color: #F3A668; /* Orange */
}

.contact-section {
    background-color: #5FAD87; /* Green */
}

.section-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align text to top of section */
    margin-left: 20px;
    margin-right: 20px;
}

.section-text {
    flex: 3; /* Takes up 3/4 of the section width */
}

.section-image {
    flex: 1; /* Takes up 1/4 of the section width */
    margin-left: 20px; /* Add space between text and image */
}

.styled-image {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain aspect ratio */
    border: 5px solid #F8EABA; /* Cream */
    margin-bottom: 20px; /* Add some space between images */

h2 {
    color: #F8EABA; /* Cream */
}

footer {
    background-color: #779AC4; /* Blue */
    color: #F8EABA; /* Cream */
    text-align: center;
    padding: 10px 0;
}
