@font-face {
    font-family: 'MADE Waffle Soft';
    src: url('../MADE Waffle Soft PERSONAL USE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
    font-family: 'MADE Waffle Soft', Arial, sans-serif;
    background-color: #F3E2C6; /* Beige */
    box-sizing: border-box;
    color: #191919; /* Black */
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

header, container {
    scroll-snap-align: start;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

header {
    background-color: #F3E2C6; /* Beige */
    color: #009A5E; /* Green */
    text-align: center;  
}

header h1 {
    font-size: 3em; /* Increase the font size for the header title */
}

h2 {
    color: #191919; /* Black*/
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #009A5E; /* Green */
    text-decoration: none;
}

.container-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 300px);
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}

.container-grid-span-2 {
    grid-column: span 2;
}

.container-grid-span-3 {
    grid-column: span 3;
}

.image-container {
    background-colour: #F3E2C6; /* Beige */
    border: 5px solid #191919; /* Black*/
    border-radius: 20px;
    box-shadow: 5px 5px 0 #191919;
    overflow: hidden; /* Ensure the image respects the border radius */
}

section{
    background-colour: #F3E2C6; /* Beige */
    border: 5px solid #191919; /* Black*/
    border-radius: 20px;
    box-shadow: 5px 5px 0 #191919;
    padding: 20px 40px;
}
    
.section-yellow {
    background-color: #FFC567; /* Yellow */
    text-align: justify;
    max-height: 16em;
    min-height: 16em;
}

.section-pink {
    background-color: #FC7DA8; /* Pink */
    text-align: justify;
    max-height: 16em;
    min-height: 16em;
}

.section-blue {
    background-color: #048CD6; /* Blue */
    text-align: justify;
    max-height: 16em;
    min-height: 16em;
}

/* Dashed list styles */
.dashed-list {
    list-style-type: none;
    padding-left: 20px; /* Add padding to the left to align text properly */
}

.dashed-list li {
    position: relative;
    padding-left: 20px; /* Add padding to the left to make space for the dash */
}

.dashed-list li:before {
    content: "-";
    position: absolute;
    left: 0;
    color: #191919; /* Black*/
}

footer {
    background-color: #F3E2C6; /* Beige */
    color: #009A5E; /* Green */
    text-align: center;
    padding: 40px
}
