@font-face {
    font-family: 'MADE Waffle Soft';
    src: url('../MADE Waffle Soft PERSONAL USE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
    font-family: 'MADE Waffle Soft', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3E2C6; /* Beige */
    box-sizing: border-box;
    color: #191919; /* Black*/
    display: flex;
    flex-direction: column;
    align-items: centre;
}

header {
    background-color: #F3E2C6; /* Beige */
    color: #009A5E; /* Green */
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #009A5E; /* Green */
    text-decoration: none;
}

section{
    background-colour: #F3E2C6; /* Beige */
    border: 5px solid #191919; /* Black*/
    border-radius: 20px;
    box-shadow: 5px 5px 0 #191919;
    padding: 20px 40px;
    width: 80%;
    max-width: 800px;
    margin: 20px 20px; /* Add space between sections */
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.about-section {
    background-color: #FFC567; /* Yellow */
    text-align: justify;
}

.work-section {
    background-color: #FC7DA8; /* Pink */
    text-align: justify;
}

.contact-section {
    background-color: #048CD6; /* Blue */
    text-align: left;
}

h2 {
    color: #191919; /* Black*/
}

/* Dashed list styles */
.dashed-list {
    list-style-type: none;
    padding-left: 20px; /* Add padding to the left to align text properly */
}

.dashed-list li {
    position: relative;
    padding-left: 20px; /* Add padding to the left to make space for the dash */
}

.dashed-list li:before {
    content: "-";
    position: absolute;
    left: 0;
    color: #191919; /* Black*/
}

footer {
    background-color: #F3E2C6; /* Beige */
    color: #009A5E; /* Green */
    text-align: center;
    padding: 10px 0;
}
